{% extends "crashstats_base.html" %}

{% block page_title %}Internal Server Error{% endblock %}

{% block content %}

<div id="mainbody">


<div class="page-heading">
    <h2>Internal Server Error</h2>
</div>


<div class="panel">
    <div class="title">
        <h2>Sorry, but something went wrong.</h2>
    </div>

    <div class="body">
        <h3>For the nerdily inclined...</h3>
        <p>
            <strong>Error type:</strong> <code>{{ err_type }}</code>
            <br>
            <strong>Error value:</strong> <code>{{ err_value }}</code>
        </p>
        <pre>{{ err_traceback }}</pre>
    </div>
</div>

</div>
{% endblock %}
